{{ define "footerfiles" }}

{{ end }}
{{ define "main" }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column animated fadeInDown">
  <div class="my-auto">
    <center>
      <form action="{{ .Permalink }}">
        <input style="padding: 10px 15px; margin-top: 20px;" placeholder="Search Content" id="search-query" name="que" />
      </form>
      <h3>Matching pages</h3>
    </center>
    <div id="search-results" style="margin: 10px 20px;">
    </div>
  </div>
</section>
<script id="search-result-template" type="text/x-js-template">

    <div id="summary" class="post animated fadeInDown">
      <div class="post-title">
        <h3><a href="${link}">${title}</a>
        </h3>
      </div>
      <div class="post-content">
        <div class="p_part">
          <p></p>
          <p>${snippet}</p>
          <p></p>
        </div>

        <div class="p_part">
          <p></p>
        </div>
      </div>
      <div class="post-footer">
        <div class="meta">
            ${ isset tags }<p class="tag">Tags: ${tags}</p>${ end }
            ${ isset categories }<p class="tag">Categories: ${categories}</p>${ end }
          </div>
        </div>
      </div>
    </div>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="../js/search.js"></script>
{{ end }}
